@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
}
body{
    background-color: black;
}
.header__nav{
    background-color: rgba(14, 14, 27, 0.486);
    width: 100%;
    height: 80px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    top: 0;
   z-index: 100;
    box-shadow: 0 0 4px #75caff;
      position: fixed;
}
.logo{
     font-size: 22px;
    font-weight: 1000px;
    color: white;
    text-decoration: none;
    background: linear-gradient(to right, #75caff, #a20398);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 0 10px #75caff;
}
.headr__left{
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-size: 15px;
    font-weight: 100px;
    text-decoration: none;
    width: 600px;
}
.headr__left a{
    color: white;
    font-weight: 100px;
    color: white;
    text-decoration: none;
}
.headr__left a:hover{
    color:  #75caff;
}
.headr__left button{
    box-shadow: 0 0 10px #75caff;
    background: linear-gradient(to right, #75caff, #a20398);
    border:none;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    align-items: center;
    color: aliceblue;
}
.hero__section{
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/background.webp);
}
.hero__section::before{
    content: "";
    background-color: rgba(0, 0, 0, 0.84);
     width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.hero__section h2{
     font-size: 40px;
    text-align: center;
    background: linear-gradient(to right, #0397f3, #a20398);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    z-index: 1;
}
.hero__section p{
    font-size: 20px;
    color: rgb(137, 135, 135);
    text-align: center;
    margin: 20px;
    z-index: 1;
}
.hero__section .hero__btns{
    display: flex;
    width: 350px;
    height: 30px;
    justify-content: space-around;
     height: 40px;
     margin: 20px;
    z-index: 1;
}
.hero__section .hero__btns .btn__1{
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    box-shadow: 0 0 10px #75caff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    background: linear-gradient(to right, #a20398, #75caff);
}
.hero__section .hero__btns .btn__2{
    width: 150px;
    border-radius: 5px;
    justify-content:space-around;
    background-color: none;
    box-shadow: 0 0 10px #75caff;
    color: #00cfff;
    border: 1.5px solid #00cfff;
    background: none;
}
.footer__1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #101725;
    height: 200px;
    border-top: 1px solid #00cfff;
    box-shadow: 0 0 3px #75caff;
    padding: 80px 12% 60px;
    position: relative;
    width: 100%;
}
.footer___sec999{
    display: flex;
    margin-left: 25px;
    width: 400px;
}
.footer__1 .footer__sec_1{
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: relative;
    
}
.footer__1 .footer__sec_1 h3{
    font-size: 22px;
    font-weight: 1000px;
    color: white;
    text-decoration: none;
    background: linear-gradient(to right, #75caff, #ff02ee);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 0 10px #ff75d6;
    padding: 10px;
}
.footer__1 .footer__sec_1 p{
    color: #bcbdbd;
    font-size: 12px;
    padding:0 5px ;
    width: 300px;
}
.footer__1 .footer__sec_1 i{
    font-size: 10px ;
    width: 25px;
    margin: 5px;
    border-radius: 6px;
    border: 0.5px solid #75caff;
    padding: 5px;
    color: #75caff;
}
.footer__1 .footer___sec999 .footer___sec_2{
     position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}
.footer__1 .footer___sec999 .footer___sec_2 h4{
    color: white;
}
.footer__1 .footer___sec999 .footer___sec_2 a{
    color: #828686;
    font-size: 14px;
    text-decoration: none;
    margin-top: 4px;
}
.footer___2{
    background-color: #101725;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
.footer___2 .footer___2__sec_1{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 200px;
}
.footer___2 .footer___2__sec_1 i {
    font-size: 20px ;
    width: 30px;
    margin: 5px;
    border-radius: 6px;
    border: 0.5px solid #75caff;
    padding: 5px;
    color: #75caff;
}
.footer___2 .footer___2__sec_1 p{
     color: #828686;
}
.footer___2 .footer___2__sec_1 a{
     color: #828686;
     font-size: 12px;
     text-decoration: none;
}
.footer___3{
    background-color: #101725;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.5px solid #00cfff;
    box-shadow: 0 0 2px #75caff;
    height: 100px;
    padding: 30px;
}
.footer___3 p{
    color: #828686;
}
.footer3____sec1{
    display: flex;
    justify-content: space-around;
    width: 200px;
}

